# Git
.git
.gitignore

# Docker
.docker
docker-compose*.yml

# Logs
logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Build directories and artifacts
**/node_modules
**/dist
**/build
**/target

# Development files
**/*.swp
**/*.swo
**/*~
**/.vscode
**/.idea 